@model Super.SuperMarket.InterFace.Models.CartIndexViewModel

@{
    //Layout = "~/Views/Shared/_Checkout.cshtml";
    ViewBag.Title = "Sports Store: Your Cart";
}
<link rel="stylesheet" type="text/css" media="screen" href="your-app-core.css">
<link rel="stylesheet" type="text/css" media="print" href="your-app-core-print.css">
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Your cart</h2>
<div id="invoice" >
    <table id="cartTable" class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            @foreach (var line in Model.Cart.lines)
            {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.Product.Name</td>
                    <td class="text-right">@line.Product.SellingPrice.ToString("c")</td>
                    <td class="text-right">
                        @((line.Quantity * line.Product.SellingPrice).ToString("c"))
                    </td>
                    <td id="element-to-hide" data-html2canvas-ignore="true">
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                        {@Html.Hidden("ProductId", line.Product.Id)@Html.HiddenFor(x => x.ReturnUrl)<input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                    }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.Cart.ComputeTotalValue().ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div id="elementH" class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Checkout done", "CachDone", null, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Cach", "invoice", null, new { @class = "btn btn-primary" })*@
</div>

@*<a href="@Url.Action("ExportPdf","Cart")">content</a>*@

@*<button onclick="generatePDF();"> hello    </button>*@

    
 
    


<script>

    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }

    function generatePDF() {
        var opt = {
            //margin: [top, left, bottom, right],
            margin: [4, 3, 4, 3],
            filename: 'myfile.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 1, windowWidth: 100 },
            jsPDF: { unit: 'mm', format: 'a8', orientation: 'portrait' },

        };

        // Choose the element that our invoice is rendered in.
        const element = document.getElementById("invoice");
        // Choose the element and save the PDF for our user.
        html2pdf().set(opt)
            .from(element)
            .save();
    }
</script>

@*<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>*@

