@model Super.SuperMarket.DAl.SQLServer.Model.AppUser

@{
    ViewBag.Title = "Create App Users ";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

    <h2>Create App Users </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add new AppUser</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group ">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-md-2", type = "text" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger col-lg-offset-3" })
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger col-lg-offset-3" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger col-lg-offset-3" })
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.RoleId, "RoleId", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div>
                        @Html.DropDownListFor(model => model.RoleId, ViewBag.CategoryId as SelectList, "-- Select Role -- ", new { @class = "form-control col-md-4" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger col-lg-offset-3" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div>
                        @Html.TextBoxFor(model => model.BirthDay,
                 new
                      {
                     @class = "form-control",
                     data_Provide = "datepicker",
                     data_date_format = "m/dd/yyyy",
                     data_data_autoclose = "true"
                 })
                        @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger col-lg-offset-3" })
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.PhotoUrl, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div>
                        @Html.EditorFor(model => model.PhotoUrl, new { htmlAttributes = new { @class = "form-control col-md-4" } })
                        @Html.ValidationMessageFor(model => model.PhotoUrl, "", new { @class = "text-danger col-lg-offset-3" })
                    </div>
                </div>
            </div>
        </div>

        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.UpdatedDate)
        @Html.HiddenFor(model => model.UpdatedBy)

        <br />
        <div class="row">
            <div class="col-md-offset-4 col-md-2">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>

            <div class="col-md-2">
                <div class="btn btn-danger text-color-white">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "text-color-white" })
                </div>
            </div>
        </div>
    </div>
}
